.content__home {
  position: relative;
  background: var(--roxo-claro);
  color: var(--branco);
  padding: 56px 20px clamp(280px, 36vw, 440px) 20px;
  text-align: center;
  margin-top: -1px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content__home::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--roxo-escuro);
  clip-path: ellipse(230% 90% at 50% 0%); /* sua curva */
  z-index: 0;
}

.content__home > * {
  position: relative;
  z-index: 1;
}

h1 {
  font-family: var(--fonte-1);
  font-size: 48px;
  font-weight: 600;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.learn__button {
  text-decoration: none;
  padding: 25px 50px;
  background-color: var(--verde-elementos);
  color: var(--roxo-escuro);
  font-family: var(--fonte-2);
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 68px;
}

.img__phone {
  position: absolute;
  left: 50%;
  bottom: calc(-1 * clamp(40px, 8vw, 90px));
  transform: translateX(-50%);
  width: 85vw;
  max-width: 320px;
  z-index: 2;
}

@media screen and (min-width: 768px){
  h1{
     width: clamp(200px, 60%, 600px);
     font-size: 60px;
  }

  .content__home::after{
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 0; /* acima do ::before (curva), atrás do conteúdo */

    background-image:
      url("../assets/images/bg-pattern-1.svg"), /* esquerda */
      url("../assets/images/bg-pattern-2.svg"); /* direita */
    background-repeat: no-repeat, no-repeat;

    /* ajuste fino livre: */
    background-position:
      left clamp(-220px, -15vw, -120px) top clamp(60px, 10vw, 140px),
      right clamp(-200px, -14vw, -110px) top clamp(120px, 14vw, 220px);

    background-size:
      clamp(260px, 28vw, 420px),
      clamp(280px, 30vw, 440px);
    
  }

  .content__home::before {
    clip-path: ellipse(100% 80% at 50% 0%);
  }

  .img__phone{
    width: 85vw;
    max-width: 602px;
    bottom: calc(-1 * clamp(40px, 8vw, 90px) + 50px);
    transform: translateX(-50%) ;
  }
}