.content__home {
  position: relative;
  background: var(--roxo-claro);
  color: var(--branco);
  padding: 56px 20px clamp(140px, 18vw, 220px) 20px;
  text-align: center;
  margin-top: -1px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content__home::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--roxo-escuro);
  clip-path: ellipse(230% 90% at 50% 0%); /* sua curva */
  z-index: 0;
}

.content__home > * {
  position: relative;
  z-index: 1;
}

h1 {
  font-family: var(--fonte-1);
  font-size: 48px;
  font-weight: 600;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.learn__button {
  text-decoration: none;
  padding: 25px 50px;
  background-color: var(--verde-elementos);
  color: var(--roxo-escuro);
  font-family: var(--fonte-2);
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 68px;
}

.img__phone {
  position: absolute;
  left: 50%;
  bottom: calc(-1 * clamp(40px, 8vw, 90px));
  transform: translateX(-50%);
  width: 85vw;
  max-width: 320px;
  z-index: 2;
}
