:root {

    --fonte-1: "Fraunces", serif;
    --fonte-2:  "Manrope", sans-serif;

    -verde-elementos: #44FFA1;
    --roxo-escuro: #24053E;
    --roxo-medio: #584D62;
    --roxo-claro: #FCF8FF;
    --branco: #FFFFFF;

}