:root {
  --fonte-1: "Fraunces", serif;
  --fonte-2: "Manrope", sans-serif;

  --verde-elementos: #44ffa1;
  --roxo-escuro: #24053e;
  --roxo-medio: #584d62;
  --roxo-claro: #fcf8ff;
  --branco: #ffffff;
}
